<h1>Spree::Admin::Csvs#index</h1>
<p>Find me in app/views/spree/admin/csvs/index.html.erb</p>
<%= form_tag({:action => :import}, multipart: true) do %>
	<%= radio_button_tag(:resource_name, "Product", :checked => true) %>
	<%= label_tag(:resource_name_product, "Product") %>
  <%= file_field_tag :file %>
  <%= submit_tag( "Import" ) %>
<% end %>